body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, pink, skyblue)
  }
  
  h1 {
    color: rgb(6, 6, 6);
    text-align: center;
    padding-right: 100px;
  }
  
  #app {
    max-width:400px;
    margin: 0 auto;
  }
  
  input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    border-radius: 10px;
    color: hsl(0, 0%, 0%);
    margin-bottom: 10px;
  }
  
  button {
    background-color: grey; border-radius:10px ;
    padding: 5px;
    cursor: pointer;
    color: #020202;
  }
 /* styles.css */
.task-item {
    display: flex;
    align-items: flex-start;
    width: 250px; 
    height: 20px; 
    position: relative;
    background-color:skyblue;
    border: 2px solid #060606;
    border-radius:10px ;
    padding: 10px; 
    margin: 5px; 
    margin-left:-39px ;
  }
  
  .task-item-text {
    margin-right: 10px;

  }

  .task-delete-button {
    background-color: #e70d0d;
    color: rgb(146, 28, 28);
    position: absolute;
    right: -40px;
    border-radius: 50%;
    padding-left: 
    cursor: pointer;
  }
  .hero h2{
    color: #e70d0d;

  }
  .btn{
    margin-left: ;
  }
  footer p{
    margin-top: 100px;
  }
  main p1{
    color: yellow;
    background-color: grey; border-radius:10px ;
    padding: 5px;
  }
  main p{
    color: blue;
    background-color: grey; border-radius:10px ;
    padding: 5px;
  }
  .landing-page-container {
    background-image: url('https://media.istockphoto.com/id/863607936/photo/to-do-list-on-note-pad-with-coffee-and-pen-on-office-desk.jpg?s=1024x1024&w=is&k=20&c=1sjUUg92Doc8WRmV4mT4D-7H4W27Tb_t1MvqEAd0lv4=');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
    display: flex; /* Use flexbox for centering content vertically */
    flex-direction: column; /* Stack the content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}
